.landingNavContainer{
    background-color: #9b59b6;
    position: relative;
    /* border: .5px solid black; */
    width:100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    margin: 0;
   
}
.iconContainer{
    /* border: 1px solid black; */
    width: 20%;
    height: 90%;
    margin: .5%;
    /* margin-top:5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 600;
    color: whitesmoke;
}
.hamburgerMenu{
    display: inline-block;
    cursor: pointer;
    margin: 3%;
}
.change  {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change2 {opacity: 0;}

.change3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: whitesmoke;
    margin: 6px 0;
    transition: 0.4s;
  }

 